body{
    background-color: black;
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

h1{
    position: absolute;
    color: white;
    font-size: 35px;
    left: 42%;
    top: 6%;
}


.myCard,.myCard1,.myCard2,.myCard3,.myCard4,.myCard5,.myCard6,.myCard7,.myCard8/*,.myCard9,.myCard10,.myCard11*/{
    position: absolute;
    left: 18%;
    top: 28%;
    background-color: transparent;
    width: 220px;
    height: 280px;
    perspective: 1000px;
}

.title {
    font-size: 23px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

/* <reset-style> ============================ */
a {
    text-decoration: none;
}
/* <main-style> ============================ */
.menu__link,.menu__link1,.menu__link2,.menu__link3,.menu__link4,.menu__link5,.menu__link6,.menu__link7,.menu__link8/*,.menu__link9,.menu__link10,.menu__link11 */{
    position: relative;
    top: 10%;
    color: #fff;
    line-height: 2;
    position: relative;
}

.menu__link1{
    top: 17%;
}

.menu__link2{
    top: 7%;
}

.menu__link3{
    top: 7%;
}

.menu__link4{
    top: 17%;
}

.menu__link5{
    top: 15%;
}

.menu__link6{
    top: 17%;
}

.menu__link7{
    top: 15%;
}

.menu__link8{
    top: 17%;
}

/*.menu__link9{
    top: 20%;
}

.menu__link10{
    top: 17%;
}

.menu__link11{
    top: 19%;
}*/

.menu__link::before,.menu__link1::before,.menu__link2::before,.menu__link3::before,.menu__link4::before,.menu__link5::before,.menu__link6::before,.menu__link7::before,.menu__link8::before/*,.menu__link9::before,.menu__link10::before,.menu__link11::before*/{
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.menu__link:hover::before,.menu__link1:hover::before,.menu__link2:hover::before,.menu__link3:hover::before,.menu__link4:hover::before,.menu__link5:hover::before,.menu__link6:hover::before,.menu__link7:hover::before,.menu__link8:hover::before/*,.menu__link9:hover::before,.menu__link10:hover::before,.menu__link11:hover::before*/{
    width: 100%;
    left: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard,.myCard1:hover .innerCard,.myCard2:hover .innerCard,.myCard3:hover .innerCard,.myCard4:hover .innerCard,.myCard5:hover .innerCard,.myCard6:hover .innerCard,.myCard7:hover .innerCard,.myCard8:hover .innerCard/*,.myCard9:hover .innerCard,.myCard10:hover .innerCard,.myCard11:hover .innerCard*/{
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
    text-decoration: none;

}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.myCard1{
    position: absolute;
    left: 43%;
}

.myCard2{
    position: absolute;
    left: 67%;
}

.myCard3{
    position: absolute;
    left: 18%;
    top: 85%;
}

.myCard4{
    position: absolute;
    left: 43%;
    top: 85%;
}

.myCard5{
    position: absolute;
    left: 67%;
    top: 85%;
}

.myCard6{
    position: absolute;
    left: 18%;
    top: 145%;
}

.myCard7{
    position: absolute;
    left: 43%;
    top: 145%;
}

.myCard8{
    position: absolute;
    left: 67%;
    top: 145%;
}

/*.myCard9{
    position: absolute;
    left: 18%;
    top: 205%;
}

.myCard10{
    position: absolute;
    left: 43%;
    top: 205%;
}

.myCard11{
    position: absolute;
    left: 67%;
    top: 205%;
}*/
*{
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

.backSide>ul>li>a{
    color: black;
    position: relative;
    left: -12%;

}

.backSide>ul>li>a:hover{
    color: white;
    position: relative;
    left: -8%;
}

#As1{
    position: relative;
    left: -25%;
    top: 20px;
}

.As3{
    position: relative;
    left: -5%;
    top: 15px;
}

.As4{
    position: relative;
    left: -5%;
    top: 12px;
}

.As5{
    position: relative;
    left: -5%;
    top: 12px;
}

/*#section1{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 28%;
    left: 15%;
}

#section1>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section1>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 2%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}


#section1>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}
*/

/*
#section2{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 28%;
    left: 40%;
}

#section2>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section2>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 34%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section2>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section3{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 28%;
    left: 65%;
}

#section3>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section3>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 31%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section3>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section4{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 85%;
    left: 15%;
}

#section4>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section4>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section4>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section5{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 85%;
    left: 40%;
}

#section5>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section5>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section5>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section6{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 85%;
    left: 65%;
}

#section6>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section6>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section6>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section7{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 140%;
    left: 15%;
}

#section7>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section7>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 2%;
    top: 31%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section7>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section8{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 140%;
    left: 40%;
}

#section8>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section8>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 34%;
    top: 31%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section8>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section9{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 140%;
    left: 65%;
}

#section9>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section9>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section9>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section10{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 195%;
    left: 15%;
}

#section10>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section10>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 2%;
    top: 31%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section10>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section11{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 195%;
    left: 40%;
}

#section11>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section11>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section11>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}

#section12{
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: #272727;
    top: 195%;
    left: 65%;
}

#section12>h3{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    left: 11%;

}

#section12>h5{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 31%;
    top: 30%;
    text-align: center;
    !*height: 40px    ;*!
    !*width: 30px;*!
}

#section12>div>button{
    position: absolute;
    background-color: #797C7D;
    font-size: 15px;
    left: 33%;
    top: 80%;
}
*/

#footer{
    background-color: #181818;
    position: absolute;
    width: 1349px;
    height: 230px;
    bottom: -140%;
}

#footer>section>img{
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 11%;
    top: 20%;
}

#footer>section>h3{
    position: absolute;
    left: 6%;
    top: 50%;
    color: white;
    font-size: 28px;
    font-family: "Lucida Bright";
}

#footer>section>h4{
    position: absolute;
    left: 33%;
    top: -20.5%;
    font-size: 25px;
    color: white;
    opacity: 50%;
}

#footer>section>div{
    position: absolute;
    left: 77%;
    top: 35%;
}

#imgDiv1{
    border-bottom: 2px solid white;
}

#footer>section>h6{
    position: absolute;
    right: 10.5%;
    top: 35%;
    font-size: 20px;
    color:#D2D2D2;
    font-family: "Book Antiqua";
}



@media all and (max-width: 1024px) {
    h1{
        font-size: 32px;
        left: 39%;
    }

    /*#section1{
        width: 210px;
        height: 250px;
        left: 15%;
    }

    #section1>h3{
        font-size: 28px;
        left: 9%;
    }

    #section1>h5{
        font-size: 16px;
    }

    #section1>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section2{
        width: 210px;
        height: 250px;
    }

    #section2>h3{
        font-size: 28px;
        left: 9%;
    }

    #section2>h5{
        font-size: 18px;
        top: 32%;
    }

    #section2>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section3{
        width: 210px;
        height: 250px;
        left: 65%;
    }

    #section3>h3{
        font-size: 28px;
        left: 9%;
    }

    #section3>h5{
        font-size: 18px;
        top: 32%;
    }

    #section3>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section4{
        width: 210px;
        height: 250px;
        top: 81%;
    }

    #section4>h3{
        font-size: 28px;
        left: 8%;
    }

    #section4>h5{
        font-size: 18px;
        top: 32%;
    }

    #section4>div>button{
        font-size: 14px;
        left: 33%;
        top: 75%;
    }

    #section5{
        width: 210px;
        height: 250px;
        top: 81%;
    }

    #section5>h3{
        font-size: 28px;
        left: 8%;
    }

    #section5>h5{
        font-size: 18px;
        top: 32%;
    }

    #section5>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section6{
        width: 210px;
        height: 250px;
        top: 81%;
    }

    #section6>h3{
        font-size: 28px;
        left: 8%;
    }

    #section6>h5{
        font-size: 18px;
        top: 32%;
    }

    #section6>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section7{
        width: 210px;
        height: 250px;
        top: 135%;
    }

    #section7>h3{
        font-size: 28px;
        left: 8%;
    }

    #section7>h5{
        font-size: 18px;
        top: 32%;
        left: 30%;
    }

    #section7>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section8{
        width: 210px;
        height: 250px;
        top: 135%;
    }

    #section8>h3{
        font-size: 28px;
        left: 8%;
    }

    #section8>h5{
        font-size: 18px;
        top: 32%;
        left: 30%;
    }

    #section8>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section9{
        width: 210px;
        height: 250px;
        top: 135%;
    }

    #section9>h3{
        font-size: 28px;
        left: 8%;
    }

    #section9>h5{
        font-size: 18px;
        top: 32%;
        left: 30%;
    }

    #section9>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section10{
        width: 210px;
        height: 250px;
        top: 190%;
    }

    #section10>h3{
        font-size: 28px;
        left: 8%;
    }

    #section10>h5{
        font-size: 18px;
        top: 32%;
        left: 50px;
    }

    #section10>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section11{
        width: 210px;
        height: 250px;
        top: 190%;
    }

    #section11>h3{
        font-size: 28px;
        left: 8%;
    }

    #section11>h5{
        font-size: 18px;
        top: 32%;
        left: 30%;
    }

    #section11>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }

    #section12{
        width: 210px;
        height: 250px;
        top: 190%;
    }

    #section12>h3{
        font-size: 28px;
        left: 8%;
    }

    #section12>h5{
        font-size: 18px;
        top: 32%;
        left: 30%;
    }

    #section12>div>button{
        font-size: 14px;
        left: 32%;
        top: 75%;
    }*/
    .myCard,.myCard1,.myCard2,.myCard3,.myCard4,.myCard5,.myCard6,.myCard7,.myCard8/*,.myCard9,.myCard10,.myCard11*/{
        width: 210px;
        height: 250px;
    }

    .menu__link{
        top: 8%;
    }

    .menu__link1{
        top: 16%;
    }

    .menu__link2{
        top: 5%;
    }

    .menu__link3{
        top: 5%;
    }

    .menu__link4{
        top: 16%;
    }

    .menu__link5{
        top: 14%;
    }


    #footer{
        width: 1024px;
        height: 220px;
        bottom: -145%;
    }

    #footer>section>img{
        width: 90px;
        top: 20%;
        left: 10%;
    }

    #footer>section>h3{
        left: 5%;
        font-size: 24px;
    }

    #footer>section>h4{
        top: -21.5%;
        font-size: 25px;
    }

    #footer>section>div{
        position: absolute;
        left: 70%;
        top: 35%;
    }

    #imgDiv1>a>img{
        width: 35px;
    }

    #footer>section>div{
        position: absolute;
        left: 78%;
        top: 35%;
    }

    #footer>section>h6{
        right: 8.5%;
        top: 41%;
        font-size: 14px;
    }
}

@media all and (max-width: 768px) {
    h1{
        font-size: 28px;
        left: 38%;
        top: 6%;
    }

    /*#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9,#section10,#section11,#section12{
        width: 180px;
        height: 230px;
    }

    #section1>h3,#section2>h3,#section3>h3,#section4>h3,#section5>h3,#section6>h3,#section7>h3,#section8>h3,#section9>h3,#section10>h3,#section11>h3,#section12>h3{
        font-size: 20px;
        left: 15%;
    }

    #section1>h5,#section2>h5,#section3>h5,#section4>h5,#section5>h5,#section6>h5,#section7>h5,#section8>h5,#section9>h5,#section10>h5,#section11>h5,#section12>h5{
        font-size: 15px;
    }

    #section1>div>button,#section2>div>button,#section3>div>button,#section4>div>button,#section5>div>button,#section6>div>button,#section7>div>button,#section8>div>button,#section9>div>button,#section10>div>button,#section11>div>button,#section12>div>button{
        font-size: 12px;
        top: 70%;
    }
*/
    .myCard,.myCard1,.myCard2,.myCard3,.myCard4,.myCard5,.myCard6,.myCard7,.myCard8/*,.myCard9,.myCard10,.myCard11*/{
        width: 150px;
        height: 230px;
    }

    .title {
        font-size: 20px;
    }

    a{
        font-size: 13px;
    }

    .As{
        position: relative;
        left: -5%;
    }

    .menu__link{
        top: 5%;
    }

    .menu__link1{
        top: 16%;
    }

    .menu__link2{
        top: 4%;
    }

    .menu__link3{
        top: 3%;
    }

    .menu__link6{
        top: 14%;
    }

    .menu__link7{
        top: 14%;
    }

    .menu__link8{
        top: 16%;
    }

    .As3{
        left: -10%;
    }

    .As4{
        left: -10%;
    }

    #footer{
        width: 768px;
        height: 200px;
        bottom: -135%;
    }

    #footer>section>img{
        width: 85px;
        left: 13%;
        top: 21%;
    }

    #footer>section>h3{
        left: 7%;
        font-size: 22px;
    }

    #footer>section>h4{
        left: 28%;
        top: -20.4%;
        font-size: 21px;
    }

    #footer>section>div{
        left: 71%;
        top: 33%;
    }

    #footer>section>h6{
        right: 10.5%;
        top: 38%;
        font-size: 15px;
    }


}

@media all and (max-width: 425px) {
    h1{
        font-size: 25px;
        left: 30%;
    }

    /*#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9,#section10,#section11,#section12{
        width: 135px;
        height: 200px;
    }

    #section1{
        top: 22%;
        left: 18%;
    }

    #section2{
        top: 22%;
        left: 52%;
    }

    #section3{
        left: 18%;
        top: 65%;
    }

    #section4{
        left: 52%;
        top: 65%;
    }

    #section5{
        left: 18%;
        top: 109%;
    }

    #section6{
        left: 52%;
        top: 109%;
    }

    #section7{
        left: 18%;
        top: 153%;
    }

    #section8{
        left: 52%;
        top: 153%;
    }

    #section9{
        left: 18%;
        top: 197%;
    }

    #section10{
        left: 52%;
        top: 197%;
    }

    #section11{
        left: 18%;
        top: 240%;
    }

    #section12{
        left: 52%;
        top: 240%;
    }

    #section1>h3,#section2>h3,#section3>h3,#section4>h3,#section5>h3,#section6>h3,#section7>h3,#section8>h3,#section9>h3,#section10>h3,#section11>h3,#section12>h3{
        font-size: 18px;
        left: 9%;
    }

    #section1>h5,#section2>h5,#section3>h5,#section4>h5,#section5>h5,#section6>h5,#section7>h5,#section8>h5,#section9>h5,#section10>h5,#section11>h5,#section12>h5{
        font-size: 13px;
    }

    #section1>div>button,#section2>div>button,#section3>div>button,#section4>div>button,#section5>div>button,#section6>div>button,#section7>div>button,#section8>div>button,#section9>div>button,#section10>div>button,#section11>div>button,#section12>div>button{
        font-size: 11px;
        left: 28%;
        top: 72%;
    }*/
    .myCard,.myCard1,.myCard2,.myCard3,.myCard4,.myCard5,.myCard6,.myCard7,.myCard8/*,.myCard9,.myCard10,.myCard11*/{
        width: 130px;
        height: 200px;
    }

    .myCard1{
        position: absolute;
        left: 53%;
    }

    .myCard2{
        position: absolute;
        left: 18%;
        top: 70%;
    }

    .myCard3{
        position: absolute;
        left: 53%;
        top: 70%;
    }

    .myCard4{
        position: absolute;
        left: 18%;
        top: 113%;
    }

    .myCard5{
        position: absolute;
        left: 53%;
        top: 113%;
    }

    .myCard6{
        position: absolute;
        left: 18%;
        top: 156%;
    }

    .myCard7{
        position: absolute;
        left: 53%;
        top: 156%;
    }

    .myCard8{
        position: absolute;
        left: 37%;
        top: 199.5%;
    }

    /*.myCard9{
        position: absolute;
        left: 53%;
        top: 199.5%;
    }

    .myCard10{
        position: absolute;
        left: 18%;
        top: 243%;
    }

    .myCard11{
        position: absolute;
        left: 53%;
        top: 243%;
    }*/

    .title{
        font-size: 16px;
    }

    .menu__link{
        top: 4%;
    }

    .menu__link1{
        top: 15%;
    }

    .menu__link2{
        top: 1%;
    }

    .menu__link3{
        top: 1%;
    }

    .menu__link4{
        top: 15%;
    }

    .menu__link5{
        top: 13%;
    }

    .menu__link6{
        top: 15%;
    }

    .menu__link7{
        top: 13%;
    }

    .menu__link8{
        top: 15%;
    }

    /*.menu__link9{
        top: 15%;
    }

    .menu__link10{
        top: 12%;
    }

    .menu__link11{
        top: 14%;
    }*/

    .As3{
        top: 3%;
        left: -12%;
    }

    .As4{
        top: 3%;
        left: -12%;
    }

    .As5{
        left: -10%;
    }

    #footer{
        width: 425px;
        height: 150px;
        bottom: -172%;
    }

    #footer>section>img{
        width: 50px;
        left: 10%;
        top: 23%;
    }

    #imgDiv1>a>img{
        width: 25px;
        aspect-ratio: 1/1;
    }

    #footer>section>h3{
        left: 4%;
        top: 48%;
        font-size: 12px;
    }

    #footer>section>h4{
        left: 25%;
        top: -18.5%;
        font-size: 15px;
    }

    #footer>section>div{
        left: 63%;
        top: 32%;
    }

    #footer>section>h6{
        position: absolute;
        right: 13%;
        top: 40%;
        font-size: 10px;
    }

}


@media all and (max-width: 375px) {
    h1{
        left: 28%;
    }

    .title{
        font-size: 14px;
    }

    .backSide>.title{
        position: relative;
        top: 12px;
    }

    /*#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9,#section10,#section11,#section12{
        width: 120px;
        height: 180px;
    }

    #section1>h3,#section2>h3,#section3>h3,#section4>h3,#section5>h3,#section6>h3,#section7>h3,#section8>h3,#section9>h3,#section10>h3,#section11>h3,#section12>h3{
        font-size: 16px;
    }

    #section1>h5,#section2>h5,#section3>h5,#section4>h5,#section5>h5,#section6>h5,#section7>h5,#section8>h5,#section9>h5,#section10>h5,#section11>h5,#section12>h5{
        font-size: 11px;
    }

    #section1>div>button,#section2>div>button,#section3>div>button,#section4>div>button,#section5>div>button,#section6>div>button,#section7>div>button,#section8>div>button,#section9>div>button,#section10>div>button,#section11>div>button,#section12>div>button{
        font-size: 9px;
        left: 29%;
        top: 70%;
    }
*/
    .myCard,.myCard1,.myCard2,.myCard3,.myCard4,.myCard5,.myCard6,.myCard7,.myCard8/*,.myCard9,.myCard10,.myCard11*/{
        width: 120px;
        height: 180px;
    }

    a{
        font-size: 11px;
    }

    .menu__link{
        top: 1%;
    }

    .menu__link1{
        top: 13%;
    }

    .menu__link2{
        top: -3%;
    }

    .menu__link3{
        top: -3%;
    }

    .menu__link4{
        top: 14%;
    }

    .menu__link5{
        top: 11%;
    }

    .menu__link6{
        top: 14%;
    }

    .menu__link7{
        top: 11%;
    }

    .menu__link8{
        top: 14%;
    }

    .As{
        left: -8%;
    }

    #As1{
        top: 15px;
        left: -38%;
    }

    #footer{
        width: 375px;
        height: 130px;
        bottom: -162%;
    }

    #footer>section>img{
        width: 45px;
        left: 11%;
    }

    #imgDiv1>a>img{
        width: 20px;
    }

    #footer>section>h4{
        left: 20%;
        top: -22%;
    }

    #footer>section>div{
        left: 65%;
    }

    #footer>section>h6{
        right: 10.9%;
        top: 38%;
        font-size: 9px;
    }
}

@media all and (max-width: 320px) {
    h1{
        font-size: 24px;
        left: 26%;
    }

    /*#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9,#section10,#section11,#section12{
        width: 180px;
        height: 140px;
        left: 23%;
    }

    #section1{
        top: 20%;
    }

    #section2{
        top: 50%;
    }

    #section3{
        top: 80%;
    }

    #section4{
        top: 110%;
    }

    #section5{
        top: 140%;
    }

    #section6{
        top: 170%;
    }

    #section7{
        top: 200%;
    }

    #section8{
        top: 230%;
    }

    #section9{
        top: 260%;
    }

    #section10{
        top: 290%;
    }

    #section11{
        top: 320%;
    }

    #section12{
        top: 350%;
    }

    #section1>h3,#section2>h3,#section3>h3,#section4>h3,#section5>h3,#section6>h3,#section7>h3,#section8>h3,#section9>h3,#section10>h3,#section11>h3,#section12>h3{
        font-size: 18px;
        left: 20%;
    }

    #section1>h5,#section2>h5,#section3>h5,#section4>h5,#section5>h5,#section6>h5,#section7>h5,#section8>h5,#section9>h5,#section10>h5,#section11>h5,#section12>h5{
        font-size: 13px;
        top: 23%;
    }

    #section1>div>button,#section2>div>button,#section3>div>button,#section4>div>button,#section5>div>button,#section6>div>button,#section7>div>button,#section8>div>button,#section9>div>button,#section10>div>button,#section11>div>button,#section12>div>button{
        font-size: 10px;
        left: 35%;
        top: 75%;
    }*/
    .myCard,.myCard1,.myCard2,.myCard3,.myCard4,.myCard5,.myCard6,.myCard7,.myCard8/*,.myCard9,.myCard10,.myCard11*/{
        width: 185px;
        height: 170px;
        left: 22.5%;
        top: 21%;
    }

    .backSide>ul>li>a{
        font-size: 13px;
    }

    .backSide>.title{
        font-size: 12px;
    }

    .myCard1{
        top: 57%;
    }

    .myCard2{
        top: 93%;
    }

    .myCard3{
        top: 130%;
    }

    .myCard4{
        top: 167%;
    }

    .myCard5{
        top: 204%;
    }

    .myCard6{
        top: 241%;
    }

    .myCard7{
        top: 278%;
    }

    .myCard8{
        top: 315%;
    }

    /*.myCard9{
        top: 264%;
    }

    .myCard10{
        top: 291%;
    }

    .myCard11{
        top: 318%;
    }*/

    .As{
        top: 8px;
        left: -3%;
    }

    .As3{
        top: 8px;
        left: -9%;
    }

    .As4{
        top: 8px;
        left: -9%;
    }

    .As5{
        top: 8px;
        left: -7%;
    }

    .menu__link{
        top: 6%;
    }

    .menu__link1{
        top: 14%;
    }

    .menu__link2{
        top: -1%;
    }

    .menu__link3{
        top: -1%;
    }

    .menu__link4{
        top: 14%;
    }

    .menu__link5{
        top: 14%;
    }

    .menu__link6{
        top: 14%;
    }

    .menu__link7{
        top: 11%;
    }

    .menu__link8{
        top: 14%;
    }

    /*.menu__link9{
        top: 17%;
    }

    .menu__link10{
        top: 17%;
    }

    .menu__link11{
        top: 17%;
    }*/


    #footer{
        width: 320px;
        height: 130px;
        bottom: -277%;
    }

    #footer>section>img{
        left: 13%;
    }

    #footer>section>h4{
        left: 15%;
        top: -22%;
    }

    #footer>section>div{
        left: 61%;
        top: 34%;
    }

    #footer>section>h6{
        right: 11%;
        top: 40%;
    }
}
