body{
    !important;
    overflow-x: hidden;
    background-color: black;
}

/*
html{
    overflow-x: hidden;
    !important;
    scroll-behavior: smooth;
}
*/


header{
    z-index: 20;
    width: 1348px;
    height: 50px;
    position: fixed;
    background-color: #0A0B0B;
}
header>nav{
    position: absolute;
    width: fit-content;
    right: 1%;
    padding: 1px;
    margin-top: -2px;
}

header>img{
    width: 80px;
    aspect-ratio: 1/1;
    position: absolute;
    top: -30%;
}


header>nav>ol>li{
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

header>nav>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 22px
}

#main{
    width: 1348px;
    height: 650px;
    position: relative;
}

#divPic>img{
    width: 410px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    left: 60%;
    top: 130px;
}

#homeDiv{
    position: absolute;
    top: 17%;
    left: 5%;
    width: 1050px;
}

#HOME{
    position: absolute;
    color: #C36446;
    font-size: 28px;
}
#homeDiv>h1{
    position: absolute;
    color: white;
    top: 15%;
    font-size: 70px;
}

#homeDiv>h3{
    position: absolute;
    color: #C36446;
    top: 170%;
    right: 60%;
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}

#imgDiv{
    position: absolute;
    top: 318%;
    right: 65%;
    border-bottom: 2px solid white;
}

#homeDiv>h6{
    position: relative;
    color: #7B3107;
    left: 22%;
    top: 350px;
}
#btnDiv{
    position: relative;
    top: 345px;
    left: 22%;
}

#btn{
    background-color: #C36446;
}

#main1{
    position: relative;
    width: 1349px;
    height: 650px;
    background-color: #0A0B0B;
}

#ABOUT_ME{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 35px;
}

#imgShadow{
    width: 620px;
    height: 620px;
    position: absolute;
    left: 10px;
    top: 30px;
}

#myImg{
    width: 400px;
    height: 530px;
    position: absolute;
    left: 60px;
    top: 50px;
}

#about{
    position: absolute;
    color: white;
    font-size: 24px;
    left: 32%;
    top: 37%;
}
#down>button{
    background-color: #292929;
    position: absolute;
    border-radius: 10px;
    left: 20%;
    top: 103%;
    font-size: 23px;
}
#main2{
    position: relative;
    width: 1349px;
    height: 650px;
    /*left: 5%;*/
}

#EDUCATION{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 33px;
}

#E1{
    position: absolute;
    background-color: #272727;
    width: 310px;
    height: 155px;
    left: 145px;
    top: 200px;
    color: white;
}

#E1>h3{
    position: absolute;
    left: 28%;
    top: -4%;
}

#E1>h4{
    position: absolute;
    left: 10%;
    top: 11%;
}

#institute{
    position: absolute;
    left: 13%;
    top: 50%;
}

#year{
    position: absolute;
    left: 35%;
    top: 65%;
}

#E2{
    position: absolute;
    background-color: #272727;
    width: 310px;
    height: 155px;
    left: 145px;
    top: 470px;
    color: white;
}

#E2>h3{
   text-align: center;
}

#scl{
    position: absolute;
    left: 18%;
    top: 47%;
}

#year1{
    position: absolute;
    left: 37%;
    top: 60%;
}

#E3{
    position: absolute;
    background-color: #272727;
    width: 310px;
    height: 155px;
    right: 184px;
    top: 370px;
    color: white;
}

#E3>h3{
    text-align: center;
}

#scl1{
    position: absolute;
    left: 18%;
    top: 47%;
}

#year2{
    position: absolute;
    left: 37%;
    top: 60%;
}

#E4{
    position: absolute;
    background-color: #272727;
    width: 310px;
    height: 155px;
    right: 184px;
    top: 125px;
    color: white;
}

#E4>h3{
    text-align: center;
    position: absolute;
    top: -5%;
}

#E4>h5{
    position: absolute;
    top: 48%;
    left: 15%;
}

#line1{
   width: 200px;
    height: 2px;
    position: absolute;
    background-color: white;
    left: 455px;
    top: 285px;
}
#line2{
    width: 200px;
    height: 2px;
    position: absolute;
    background-color: white;
    left: 455px;
    top: 550px;
}
#line3{
    width: 2px;
    height: 352px;
    position: absolute;
    background-color: white;
    left: 655px;
    top: 200px;
}

#line4{
    width: 200px;
    height: 2px;
    position: absolute;
    background-color: white;
    right: 494px;
    top: 200px;
}
#line5{
    width: 200px;
    height: 2px;
    position: absolute;
    background-color: white;
    right: 494px;
    top: 450px;
}

#main3{
    position: relative;
    width: 1349px;
    height: 650px;
    background-color: #0A0B0B;
}

#SKILLS{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 35px;
}

#app{
    position: absolute;
    left: 13%;
    top: 25%;
}

#progress{
    position: absolute;
    top: 4%;
    left: 100%;
    list-style: none;
    margin-bottom: 45px;
}

#progress>li:nth-child(1){
    list-style: none;
    margin-bottom: 28px;
}
#progress>li:nth-child(2){
    list-style: none;
    margin-bottom: 35px;
}
#progress>li:nth-child(3){
    list-style: none;
    margin-bottom: 38px;
}
#progress>li:nth-child(4){
    list-style: none;
    margin-bottom: 35px;
}
#progress>li:nth-child(5){
    list-style: none;
    margin-bottom: 35px;
}
#progress>li:nth-child(6){
    list-style: none;
    margin-bottom: 35px;
}

#app>ol>li{
    list-style: none;
    margin-bottom: 15px;
}

#main4{
    position: relative;
    width: 1349px;
    height: 1000px;
}

#PROJECTS{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 35px;
}

#chat{
    position: absolute;
    background-color: #272727;
    width: 700px;
    height: 170px;
    left: 400px;
    top: 195px;
    border-radius: 30px;
}

#chatImg{
    position: absolute;
    width: 210px;
    height: 170px;
    left: 530px;
    top: -70px;
    border-radius: 30px;
}

#chat>h3{
    position: absolute;
    left: 30px;
    color: #C36446;
    font-size: 25px;
}

#chat>h5{
    position: absolute;
    width: 450px;
    left: 60px;
    top: 33px;
    color: white;
    font-size: 18px;
}

#chat>div>button{
    position: absolute;
    left: 30%;
    top: 92%;
    border-radius: 8px;
}

#bookShop{
    position: absolute;
    background-color: #272727;
    width: 700px;
    height: 170px;
    left: 170px;
    top: 480px;
    border-radius: 30px;
}

#bookShopImg{
    position: absolute;
    width: 210px;
    height: 170px;
    right: 530px;
    top: -55px;
    border-radius: 30px;
}

#bookShop>h3{
    position: absolute;
    left: 26%;
    color: #C36446;
    font-size: 25px;
}

#bookShop>h5{
    position: absolute;
    width: 450px;
    right: 38px;
    top: 30px;
    color: white;
    font-size: 20px;
}

#bookShop>div>button{
    position: absolute;
    left: 65%;
    top: 92%;
    border-radius: 8px;
}

#game{
    position: absolute;
    background-color: #272727;
    width: 700px;
    height: 170px;
    left: 400px;
    top: 755px;        /*275*/
    border-radius: 30px;
}

#gameImg{
    position: absolute;
    width: 210px;
    height: 170px;
    left: 530px;
    top: -65px;
    border-radius: 30px;
}

#game>h3{
    position: absolute;
    left: 30px;
    color: #C36446;
    font-size: 25px;
}

#game>h5{
    position: absolute;
    width: 555px;
    left: 60px;
    top: 35px;
    color: white;
    font-size: 20px;
}

#game>div>button{
    position: absolute;
    left: 30%;
    top: 92%;
    border-radius: 8px;
}

#main5{
    position: relative;
    width: 1349px;
    height: 650px;
    background-color: #0A0B0B;
}

#ASSIGNMENT{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 35px;
}

#main5>section{
    background-color: #272727;
    width: 350px;
    height: 250px;
    position: absolute;
    left: 35%;
    top: 30%;
}

#main5>section>h3{
    position: absolute;
    left: 17%;
    top: 25%;
    color: white;
    font-size: 35px;
}
#arrow{
    width: 45px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 83%;
    top: 39%;
}
#arrow1{
    width: 45px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 1%;
    top: 39%;
}

#main5>section>div>a>button{
    background-color: #797C7D;
    position: absolute;
    width: 140px;
    height: 30px;
    left: 31%;
    top: 155%;
    font-size: 17px;
    border-radius: 7px;
}
#ass{
    background-color: #272727;
    width:200px ;
    height: 250px;
    position: absolute;
    top: 45%;
    left: 15%;
}
#ass1{
    background-color: #272727;
    width:200px ;
    height: 250px;
    position: absolute;
    top: 45%;
    right: 20%;
}

#ass>h3{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 33%;
    left: 10%;
}
#ass1>h3{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 33%;
    right: 11%;
}

#main6{
    position: relative;
    width: 1349px;
    height: 1000px;
}

#GALLERY{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 35px;
}

#main6>section{
    width: 500px;
    height: 800px;

    position: absolute;
    top: 20%;
    left: 25%;
}

#pic1{
    width: 400px;
    height: 260px;
    position: absolute;
    right: 40%;
    top: -1px;
}

#pic2{
    width: 400px;
    height: 260px;
    position: absolute;
    left: 60%;
    top: -1px;
}

#pic3{
    width: 200px;
    height: 260px;
    position: absolute;
    right: 80%;
    top: 32.4%;
}

#pic4{
    width: 400px;
    height: 260px;
    position: absolute;
    left: 20.1%;
    top: 32.4%;
}

#pic5{
    width: 200px;
    height: 260px;
    position: absolute;
    left: 100%;
    top: 32.4%;
}

#pic6{
    width: 400px;
    height: 260px;
    position: absolute;
    right: 40%;
    bottom: 2.6%;
}

#pic7{
    width: 400px;
    height: 260px;
    position: absolute;
    left: 60%;
    bottom: 2.6%;
}


#main7{
    position: relative;
    width: 1349px;
    height: 650px;
}

#CONTACT_ME{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 70px;
    top: 35px;
}

#form{
    width: 480px;
    height: 500px;
    background-color: #1C1A1A;
    position: absolute;
    left: 25%;
    top: 30%;
    border-radius: 40px;
}

#form>div{
    position: absolute;
    left: 7%;
    top: 10%;
}

#form>div>label{
    font-size: 23px;
    color: white;
}

#Name{
    position: absolute;
    left: 110%;
    border-radius: 10px;
    font-size: 15px;
    opacity: 70%;
}

#email{
    position: absolute;
    left: 110%;
    border-radius: 10px;
    font-size: 15px;
    opacity: 70%;
}

#contact{
    position: absolute;
    left: 110%;
    border-radius: 10px;
    font-size: 15px;
    opacity: 70%;
}

#message{
    position: absolute;
    left: 110%;
    border-radius: 10px;
    font-size: 15px;
    opacity: 70%;
}


#form>button{
    position: absolute;
    left: 75%;
    top: 87%;
    border-radius: 5px;
}

#footer{
    background-color: #181818;
    position: absolute;
    width: 1349px;
    height: 240px;
    bottom: -860%;
}

#footer>section>img{
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 10%;
    top: 10%;
}

#footer>section>h3{
    position: absolute;
    left: 7%;
    top: 50%;
    color: white;
    font-size: 28px;
    font-family: "Lucida Bright";
}

#footer>section>h4{
    position: absolute;
    left: 30%;
    top: -18.5%;
    font-size: 25px;
    color: white;
    opacity: 50%;
}

#footer>section>div{
    position: absolute;
    left: 70%;
    top: 35%;
}

#imgDiv1{
    border-bottom: 2px solid white;
}

#footer>section>h6{
    position: absolute;
    right: 17.5%;
    top: 35%;
    font-size: 22px;
    color:#D2D2D2;
    font-family: "Book Antiqua";
}



/*
@media all and (max-width: 1440px){
    header{
        z-index: 20;
        width: 1440px;
        height: 50px;
        position: fixed;
    }

   !* #main{
        position: relative;
        width: 1440px;
        height: 627px;
    }*!

    #main1{
        position: relative;
        width: 1440px;
        height: 627px;
    }

    #imgShadow{
        width: 560px;
        height: 590px;
        position: absolute;
        left: 10px;
        top: 37px;
    }

    #myImg{
        position: absolute;
        left: 30px;
        top: 50px;
    }

    #about{
        position: absolute;
        left: 28%;
        top: 37%;
    }

    #down>button{
        position: absolute;
        left: 15%;
        top: 103%;
    }

    #main2{
        position: relative;
        width: 1440px;
        height: 627px;
    }

    #E1{
        position: absolute;
        width: 300px;
        height: 155px;
        left: 155px;
        top: 200px;
    }


    #E2{
        position: absolute;
        width: 300px;
        height: 155px;
        left: 155px;
        top: 440px;
    }

    #E3{
        position: absolute;
        width: 300px;
        height: 155px;
        right: 284px;
        top: 350px;
    }

    #E4{
        position: absolute;
        width: 300px;
        height: 155px;
        right: 284px;
        top: 110px;
    }

    #line1{
        position: absolute;
        left: 455px;
        top: 277px;
    }

    #line2{
        position: absolute;
        left: 455px;
        top: 520px;
    }

    #line3{
        height: 350px;
        position: absolute;
        top: 172px;
    }

    #line4{
        position: absolute;
        right: 584px;
        top: 172px;
    }
    #line5{
        position: absolute;
        right: 584px;
        top: 420px;
    }

    #main3{
        position: relative;
        width: 1440px;
        height: 627px;
    }

    #main4{
        position: relative;
        width: 1440px;
        height: 1000px;
    }

    #chat{
        position: absolute;
        left: 480px;
        top: 195px;
    }

    #bookShop{
        position: absolute;
        left: 250px;
        top: 480px;
    }

    #game{
        position: absolute;
        left: 480px;
        top: 755px;
    }

    #main5{
        position: relative;
        width: 1440px;
        height: 627px;
    }

    #main6{
        position: relative;
        width: 1440px;
        height: 1000px;
    }

    #main7{
        position: relative;
        width: 1440px;
        height: 650px;
    }

    #footer{
        position: absolute;
        width: 1440px;
        height: 240px;
        bottom: -886%;
    }

    #footer>section>h4{
        position: absolute;
        left: 30%;
        top: -20%;
    }

}
*/



@media all and (max-width: 1024px){
    header{
        width: 1024px;
    }

    header>img{
        width: 60px;
        position: absolute;
        top: -10%;
        left: 0;
    }

    #main{
        width: 1024px;
        height: 565px;
    }

    #divPic>img{
        width: 360px;
        left: 57%;
        top: 105px;
    }


    #homeDiv{
        top: 15%;
        left: 4%;
        width: 80vw;
    }

    #homeDiv>h1{
        top: 6%;
        font-size: 58px;
    }

    #HOME{
        font-size: 22px;
    }

    #homeDiv>h3{
        top: 100%;
        right: 56%;
        font-size: 38px;
    }

    #imgDiv{
        top: 200%;
        right: 60%;
    }

    #homeDiv>h6{
        top: 250px;
        left: 22%;
        font-size: 15px;
    }

    #btnDiv{
        top: 270px;
        left: 23%;
    }

    #btn{
        font-size: 20px;
    }

    #main1{
        width: 1024px;
        height: 565px;
    }

    #ABOUT_ME{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }

    #imgShadow{
        width: 550px;
        height: 518px;
        left: 10px;
        top: 47px;
    }

    #myImg{
        width: 360px;
        height: 490px;
        left: 50px;
        top: 52px;
    }

    #about{
        font-size: 20px;
        left: 35%;
        top: 42%;
    }

    #down>button{
        left: 15%;
        top: 100%;
        font-size: 17px;
    }

    #main2{
        width: 1024px;
        height: 565px;
    }

    #EDUCATION{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }

    #E1{
        width: 248px;
        height: 120px;
        left: 145px;
        top: 200px;
    }

    #E1>h3{
        left: 24%;
        top: -8%;
    }

    #E1>h4{
        left: 5%;
        top: 9%;
    }

    #institute{
        left: 6%;
        top: 45%;
    }

    #year{
        left: 36%;
        top: 60%;
    }

    #E2{
        width: 248px;
        height: 120px;
        left: 145px;
        top: 400px;
    }

    #E2>h3{
        font-size: 18px;
        top: -5%;
        left: 15%;
    }

    #scl{
        left: 11%;
        top: 46%;
    }

    #year1{
        left: 37%;
        top: 61%;
    }

    #E3{
        width: 248px;
        height: 120px;
        right: 164px;
        top: 340px;
    }

    #E3>h3{
        font-size: 18px;
        top: -5%;
        left: 15%;
    }

    #scl1{
        left: 11%;
        top: 45%;
    }

    #year2{
        left: 37%;
        top: 60%;
    }

    #E4{
        width: 248px;
        height: 120px;
        right: 164px;
        top: 120px;
    }

    #E4>h3{
        font-size: 13px;
    }

    #E4>h5{
        font-size: 12px;
        top: 43%;
        left: 17%;
    }

    #line1{
        width: 110px;
        left: 393px;
        top: 260px;
    }

    #line2{
        width: 110px;
        left: 393px;
        top: 460px;
    }

    #line3{
        height: 280px;
        left: 502px;
        top: 182px;
    }

    #line4{
        width: 110px;
        right: 412px;
        top: 180px;
    }

    #line5{
        width: 110px;
        right: 412px;
        top: 395px;
    }


    #main3{
        width: 1024px;
        height: 565px;
    }

    #SKILLS{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }

    #app{
        left: 10%;
        top: 22%;
    }

    #progress{
        top: 3%;
        left: 100%;
    }

    #progress>li:nth-child(1){
        list-style: none;
        margin-bottom: 30px;
    }

    #main4{
        width: 1024px;
        height: 920px;
    }

    #PROJECTS{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }


    #chat{
        width: 520px;
        height: 160px;
        left: 290px;
        top: 195px;
    }

    #chatImg{
        width: 150px;
        height: 130px;
        left: 470px;
        top: -63px;
    }

    #chat>h3{
        left: 20px;
        font-size: 21px;
    }

    #chat>h5{
        width: 450px;
        left: 42px;
        top: 26px;
        font-size: 16px;
    }

    #bookShop{
        width: 550px;
        height: 150px;
        left: 190px;
        top: 450px;
        border-radius: 30px;
    }


    #bookShopImg{
        width: 150px;
        height: 130px;
        right: 470px;
        top: -50px;
    }

    #bookShop>h3{
        left: 17%;
        font-size: 21px;
    }

    #bookShop>h5{
        width: 450px;
        right: -2%;
        top: 24px;
        font-size: 16px;
    }

    #game{;
        width: 550px;
        height: 150px;
        left: 290px;
        top: 700px;
    }

    #gameImg{
        width: 150px;
        height: 130px;
        left: 470px;
        top: -61px;
    }

    #game>h3{
        left: 30px;
        font-size: 21px;
    }

    #game>h5{
        width: 555px;
        left: 60px;
        top: 26px;
        font-size: 16px;
    }

    #main5{
        width: 1024px;
        height: 565px;
    }

    #ASSIGNMENT{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }

    #main5>section{
        width: 250px;
        height: 170px;
        left: 37%;
        top: 30%;
    }

    #main5>section>h3{
        left: 18%;
        top: 27%;
        font-size: 25px;
    }

    #arrow,#arrow1{
        width: 30px;
        aspect-ratio: 1/1;
        left: 84%;
        top: 43%;
    }
    #arrow1{
        left: 2%;
        top: 43%;
    }

    #ass{
        width:200px ;
        height: 170px;
        position: absolute;
        top: 45%;
        left: 15%;
    }

    #ass1{
        width:200px ;
        height: 170px;
        position: absolute;
        top: 45%;
        right: 16.5%;
    }

    #ass>h3{
        font-size: 22px;
        top: 29%;
        left: 16%;
    }

    #ass1>h3{
        font-size: 22px;
        top: 29%;
        right: 16%;
    }

    #main5>section>div>a>button{
        width: 116px;
        font-size: 14px;
        left: 28%;
        top: 175%;
    }

    #main6{
        width: 1024px;
        height: 690px;
    }

    #GALLERY{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }

    #main6>section{
        width: 350px;
        height: 600px;
        top: 20.5%;
        left: 27%;
    }

    #pic1{
        width: 300px;
        height: 180px;
        right: 35%;
        top: 38px;
    }

    #pic2{
        width: 300px;
        height: 180px;
        left: 65%;
        top: 38px;
    }

    #pic3{
        width: 150px;
        height: 180px;
        right: 78%;
        top: 36.4%;
    }

    #pic4{
        width: 300px;
        height: 180px;
        left: 22.1%;
        top: 36.4%;
    }

    #pic5{
        width: 150px;
        height: 180px;
        left: 107.6%;
        top: 36.4%;
    }

    #pic6{
        width: 300px;
        height: 180px;
        right: 35%;
        bottom: 3.6%;
    }

    #pic7{
        width: 300px;
        height: 180px;
        left: 65%;
        bottom: 3.6%;
    }

    #main7{
        width: 1024px;
        height: 850px;
    }

    #CONTACT_ME{
        font-size: 38px;
        left: 70px;
        top: 60px;
    }

    #form{
        width: 395px;
        height: 430px;
        left: 25%;
        top: 20%;
    }


    #form>div>label{
        font-size: 20px;
    }


    #Name,#email,#contact,#message{
        width: 200px;
        height: 20px;
        left: 110%;
        font-size: 14px;
    }

    #message{
        height: 120px;
        top: 70%;
    }

    #footer{
        position: absolute;
        width: 1024px;
        height: 230px;
        bottom: -850%;
    }

    #footer>section>img{
        width: 110px;
        aspect-ratio: 1/1;
        position: absolute;
        left: 10%;
        top: 17%;
    }

    #footer>section>h3{
        position: absolute;
        left: 6%;
        top: 44%;
        color: white;
        font-size: 25px;
        font-family: "Lucida Bright";
    }

    #footer>section>h4{
        position: absolute;
        left: 30%;
        top: -19.5%;
        font-size: 23px;
        color: white;
        opacity: 50%;
    }

    #footer>section>h6{
        position: absolute;
        right: 16%;
        top: 37%;
        font-size: 18px;
        color:#D2D2D2;
        font-family: "Book Antiqua";
    }

}

@media all and (max-width: 768px) {
    header{
        width: 768px;
        height: 50px;
    }

    header>nav{
        right: 0;
        padding: 1px;
        margin-top: -2px;
    }

    header>img{
        width: 55px;
        top: -7%;
    }

    header>nav>ol>li{
        margin-right: 13px;
    }

    header>nav>ol>li>a{
        font-size: 18px;
    }

    #main{
        width: 768px;
        height: 564px;
    }

    #divPic>img{
        width: 320px;
        left: 53%;
        top: 120px;
    }


    #homeDiv{
        top: 17%;
        left: 5%;
        width: 520px;
    }

    #HOME{
        font-size: 21px;
    }
    #homeDiv>h1{
        top: 17%;
        font-size: 44px;
    }

    #homeDiv>h3{
        top: 95%;
        right: 47.3%;
        font-size: 32px;
    }

    #imgDiv{
        top: 168%;
        right: 49%;
    }

    #homeDiv>h6{
        top: 210px;
        left: 22.5%;
    }

    #btnDiv{
        top: 230px;
        left: 25%;
    }

    #btn{
        font-size: 17px;
    }

    #main1{
        width: 768px;
        height: 564px;
    }

    #ABOUT_ME{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #imgShadow{
        width: 470px;
        height: 528px;
        left: 10px;
        top: 35px;
    }

    #myImg{
        width: 330px;
        height: 450px;
        left: 25px;
        top: 50px;
    }

    #about{
        font-size: 18px;
        left: 40%;
        top: 42%;
    }
    #down>button{
        border-radius: 8px;
        left: 15%;
        top: 105%;
        font-size: 15px;
    }

    #main2{
        width: 768px;
        height: 564px;
    }

    #EDUCATION{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #E1{
        width: 205px;
        height: 120px;
        left: 130px;
        top: 185px;
    }

    #E1>h3{
        font-size: 18px;
        left: 22%;
        top: -5%;
    }

    #E1>h4{
        font-size: 13px;
        left: 5%;
        top: 14%;
    }

    #institute{
        font-size: 11px;
        left: 6%;
        top: 50%;
    }

    #year{
        font-size: 11px;
        left: 35%;
        top: 63%;
    }

    #E2{
        width: 205px;
        height: 120px;
        left: 130px;
        top: 400px;
    }

    #E2>h3{
        font-size: 18px;
        position: absolute;
        left: 8%;
        top: -7%;
    }

    #scl{
        font-size: 11px;
        left: 11%;
        top: 47%;
    }

    #year1{
        font-size: 11px;
        left: 35%;
        top: 60.5%;
    }

    #E3{
        width: 205px;
        height: 120px;
        right: 110px;
        top: 340px;
    }

    #E3>h3{
        font-size: 18px;
        position: absolute;
        top: -7%;
        left: 7%;
    }

    #scl1{
        font-size: 11px;
        left: 11%;
        top: 47%;
    }

    #year2{
        font-size: 11px;
        left: 35%;
        top: 60.5%;
    }


    #E4{
        width: 205px;
        height: 120px;
        right: 110px;
        top: 120px
    }

    #E4>h5{
        font-size: 11px;
        top: 42%;
        left: 9%;
    }


    #line1{
        width: 59px;
        left: 335px;
        top: 245px;
    }
    #line2{
        width: 59px;
        left: 335px;
        top: 460px;
    }
    #line3{
        height: 287px;
        left: 394px;
        top: 175px;
    }

    #line4{
        width: 59px;
        right: 315px;
        top: 175px;
    }
    #line5{
        width: 59px;
        right: 315px;
        top: 400px;
    }

    #main3{
        width: 768px;
        height: 564px;
    }

    #SKILLS{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #java,#sql,#figma,#idea,#builder,#html,#css{
        width: 35px;
        height: 35px;
    }

    #progress>li>img{
        width: 450px;
    }

    #main4{
        width: 768px;
        height: 850px;
    }

    #PROJECTS{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #chat{
        width: 400px;
        height: 150px;
        left: 245px;
        top: 195px;
    }

    #chatImg{
        width: 110px;
        height: 100px;
        left: 330px;
        top: -50px;
    }

    #chat>h3{
        left: 23px;
        font-size: 21px;
    }

    #chat>h5{
        width: 350px;
        left: 47px;
        top: 28px;
        font-size: 15px;
    }

    #chat>div>button{
        left: 33%;
        font-size: 13px;
    }

    #bookShop{
        width: 400px;
        height: 150px;
        left: 135px;
        top: 410px;
    }

    #bookShopImg{
        width: 110px;
        height: 100px;
        right: 340px;
        top: -42px;
    }

    #bookShop>h3{
        left: 18%;
        top: -5%;
        font-size: 21px;
    }

    #bookShop>h5{
        width: 350px;
        height: 800px;
        right: -5px;
        top: 30px;
        font-size: 15px;
    }

    #bookShop>div>button{
        font-size: 13px;
        left: 50%;
    }

    #game{
        width: 400px;
        height: 150px;
        left: 245px;
        top: 625px;
    }

    #gameImg{
        width: 110px;
        height: 100px;
        left: 330px;
        top: -50px;
    }

    #game>h3{
        left: 22px;
        font-size: 21px;
    }

    #game>h5{
        position: absolute;
        width: 50px;
        left: 20px;
        top: 35px;
        color: white;
        font-size: 15px;
    }

    #game>div>button{
        left: 31%;
        font-size: 13px;
    }

    #main5{
        width: 768px;
        height: 564px;
    }

    #ASSIGNMENT{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #main5>section{
        width: 210px;
        height: 150px;
        left: 38%;
        top: 30%;
    }

    #main5>section>h3{
        left: 19%;
        top: 23%;
        font-size: 21px;
    }
    #arrow{
        width: 30px;
        left: 84%;
        top: 40%;
    }
    #arrow1{
        width: 30px;
        left: 2%;
        top: 40%;
    }

    #main5>section>div>a>button{
        width: 110px;
        height: 26px;
        left: 25%;
        top: 180%;
        font-size: 13px;
    }
    #ass{
        width:150px ;
        height: 150px;
        left: 15%;
    }
    #ass1{
        width:150px ;
        height: 150px;
        right: 11.5%;
    }

    #ass>h3{
        font-size: 19px;
        left: 10%;
    }
    #ass1>h3{
        font-size: 19px;
        right: 10%;
    }

    #main6{
        width: 768px;
        height: 690px;
    }

    #GALLERY{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #main6>section{
        width: 500px;
        height: 800px;
        top: 21.5%;
        left: 12%;
    }

    #pic1{
        width: 250px;
        height: 160px;
        right: 40%;
        top: -1px;
    }

    #pic2{
        width: 250px;
        height: 160px;
        left: 60%;
        top: -1px;
    }

    #pic3{
        width: 125px;
        height: 160px;
        right: 65%;
        top: 19.9%;
    }

    #pic4{
        width: 250px;
        height: 160px;
        position: absolute;
        left: 35%;
        top: 19.9%;
    }

    #pic5{
        width: 125px;
        height: 160px;
        position: absolute;
        left: 85%;
        top: 19.9%;
    }

    #pic6{
        width: 250px;
        height: 160px;
        position: absolute;
        right: 40%;
        bottom: 40.1%;
    }

    #pic7{
        width: 250px;
        height: 160px;
        position: absolute;
        left: 60%;
        bottom: 40.1%;
    }

    #main7{
        width: 768px;
        height: 680px;
    }

    #CONTACT_ME{
        font-size: 35px;
        left: 67px;
        top: 48px;
    }

    #form{
        position: absolute;
        left: 25%;
        top: 27%;
        border-radius: 40px;
    }

    #footer{
        width: 768px;
        height: 200px;
        bottom: -829%;
    }

    #footer>section>img{
        width: 90px;
        left: 12%;
        top: 18%;
    }

    #footer>section>h3{
        left: 6%;
        top: 46%;
        font-size: 22px;
    }

    #footer>section>h4{
        left: 31%;
        top: -20%;
        font-size: 21px;
    }

    #footer>section>div{
        left: 69%;
        top: 32%;
    }


    #footer>section>h6{
        position: absolute;
        right: 11.5%;
        top: 40%;
        font-size: 15px;
    }


}


@media all and (max-width: 425px) {
    header {
        width: 425px;
        height: 45px;
    }

    header>img{
        width: 50px;
        top: -8%;
    }

    header>nav>ol>li{
        margin-right: 10px;
    }

    header>nav>ol>li>a{
        font-size: 9px;
    }

    header>nav{
        right: -1%;
        margin-top: -5px;
    }

    #main{
        width: 425px;
        height: 565px;
    }

    #divPic>img{
        width: 210px;
        left: 27%;
        top: 70px;
    }

    #homeDiv{
        top: 50%;
        left: 17%;
        width: 400px;
    }

    #HOME{
        top: -6%;
        font-size: 20px;
    }
    #homeDiv>h1{
        top: 21%;
        font-size: 35px;
    }

    #homeDiv>h3{
        top: 90%;
        right: 35%;
        font-size: 25px;
        width: 200px;
    }

    #wp,#fb,#git,#linkedin,#insta{
        width: 29px;
    }

    #imgDiv{
        width: 161px;
        top: 165%;
        right: 43.5%;
    }

    #homeDiv>h6{
        font-size: 11px;
        left: 27.8%;
        top: 155px;
    }
    #btnDiv{
        top: 170px;
        left: 29%;
    }

    #btn{
        font-size: 13px;
    }

    #main1{
        width: 425px;
        height: 565px;
    }

    #ABOUT_ME{
        font-size: 30px;
        left: 40px;
        top: 42px;
    }

    #imgShadow{
        width: 600px;
        height: 535px;
        left: 3px;
        top: 30px;
    }

    #myImg{
        width: 200px;
        height: 250px;
        position: absolute;
        left: 25px;
        top: 35px;
    }

    #about{
        width: 400px;
        font-size: 17px;
        left: 20%;
        top: 50%;
    }
    #down>button{
        border-radius: 7px;
        left: 12%;
        top: 100%;
        font-size: 13px;
    }

    #main2{
        width: 425px;
        height: 710px;
    }

    #EDUCATION{
        font-size: 30px;
        left: 40px;
        top: 42px;
    }

    #E1{
        left: 150px;
        top: 540px;
    }

    #E2{
        left: 150px;
        top: 120px;
    }

    #E3{
        left: 150px;
        top: 260px;
    }

    #E4{
        left: 150px;
        top: 400px;
    }

    #line1{
        width: 60px;
        left: 90px;
        top: 180px;
    }
    #line2{
        width: 60px;
        left: 90px;
        top: 318px;
    }

    #line3{
        width: 5px;
        height: 420px;
        left: 90px;
        top: 180px;
    }

    #line4{
        width: 60px;
        left: 90px;
        top: 459px;
    }
    #line5{
        width: 60px;
        left: 90px;
        top: 599px;
    }

    #main3{
        width: 425px;
        height: 565px;
    }

    #SKILLS{
        font-size: 30px;
        left: 40px;
        top: 42px;
    }

    #progress>li>img{
        width: 170px;
    }

    #main4{
        width: 425px;
        height: 1000px;
    }

    #PROJECTS{
        font-size: 30px;
        left: 40px;
        top: 42px;
    }

    #chat{
        width: 260px;
        height: 200px;
        left: 88px;
        top: 160px;
    }

    #chatImg{
        width: 95px;
        height: 95px;
        left: 200px;
        top: -50px;
    }

    #chat>h3{
        top: 15%;
        left: 18px;
        font-size: 19px;
    }

    #chat>h5{
        width: 200px;
        left: 40px;
        top: 52px;
        font-size: 13px;
    }

    #chat>div>button{
        top: 95%;
        left: 40%;
        font-size: 13px;
    }

    #bookShop{
        width: 260px;
        height: 200px;
        left: 88px;
        top: 450px;
    }

    #bookShopImg{
        width: 95px;
        height: 95px;
        right: 200px;
        top: -50px;
    }

    #bookShop>h3{
        top: 16%;
        left: 20px;
        font-size: 19px;
    }

    #bookShop>h5{
        width: 200px;
        left: 40px;
        top: 54px;
        font-size: 13px;
    }

    #bookShop>div>button{
        top: 95%;
        left: 40%;
        font-size: 13px;
    }

    #game{
        width: 260px;
        height: 200px;
        left: 88px;
        top: 740px;
    }

    #gameImg{
        width: 95px;
        height: 95px;
        left: 200px;
        top: -50px;
    }

    #game>h3{
        top: 10%;
        left: 22px;
        font-size: 19px;
    }

    #game>h5{
        width: 200px;
        left: 40px;
        top: 42px;
        font-size: 13px;
    }

    #game>div>button{
        top: 95%;
        left: 40%;
        font-size: 13px;
    }

    #main5{
        width: 425px;
        height: 565px;
    }

    #ASSIGNMENT{
        font-size: 30px;
        left: 40px;
        top: 42px;
    }

    #main5>section{
        width: 140px;
        height: 150px;
        left: 33.5%;
        top: 28%;
    }

    #main5>section>h3{
        left: 16.5%;
        top: 28%;
        font-size: 15px;
    }
    #arrow{
        width: 17px;
        left: 86%;
        top: 42%;
    }
    #arrow1{
        width: 17px;
        left: 2%;
        top: 42%;
    }

    #main5>section>div>a>button{
        width: 110px;
        height: 26px;
        left: 15%;
        top: 180%;
        font-size: 12px;
    }
    #ass{
        width:80px ;
        height: 100px;
        left: 12.5%;
    }
    #ass1{
        width: 80px ;
        height: 100px;
        right: 12.5%;
    }

    #ass>h3{
        font-size: 11px;
        left: 8%;
    }
    #ass1>h3{
        font-size: 11px;
        right: 7%;
    }

    #main6{
        width: 425px;
        height: 1160px;
    }

    #GALLERY{
        font-size: 30px;
        left: 40px;
        top: 42px;
    }

    #main6>section{
        width: 425px;
        height: 800px;
        top: 21.5%;
        left: 12%;
    }

    #pic1{
        width: 240px;
        height: 145px;
        left: 9%;
        top: 40px;
    }

    #pic2{
        width: 240px;
        height: 145px;
        left: 9%;
        top: -130px;
    }

    #pic3{
        width: 120px;
        height: 145px;
        left: 9%;
        top: 26%;
    }

    #pic4{
        width: 240px;
        height: 145px;
        left: 9%;
        top: 47%;
    }

    #pic5{
        width: 120px;
        height: 145px;
        left: 37.2%;
        top: 26%;
    }

    #pic6{
        width: 240px;
        height: 145px;
        left: 9%;
        bottom: -7%;
    }

    #pic7{
        width: 240px;
        height: 145px;
        left: 9%;
        bottom: 14%;
    }

    #main7{
        width: 425px;
        height: 690px;
    }

    #CONTACT_ME{
        font-size: 30px;
        left: 40px;
        top: 45px;
    }

    #form{
        width: 280px;
        height: 450px;
        left: 18%;
        top: 18%;
        border-radius: 25px;
    }

    #form>div{
        position: absolute;
        left:  10%;
        top: 6%;
    }

    #form>div>label{
        font-size: 20px;
        color: white;
    }

    #Name{
        width: 220px;
        left: -2%;
        top: 8%;
        border-radius: 8px;
    }

    #email{
        width: 220px;
        left: -2%;
        top: 32%;
        border-radius: 8px;
    }

    #contact{
        width: 220px;
        left: -2%;
        top: 55%;
        border-radius: 8px;
    }

    #message{
        width: 220px;
        left: -2%;
        top: 80%;
        border-radius: 8px;
    }


    #form>button{
        font-size: 18px;
        left: 70%;
        top: 87%;
        border-radius: 5px;
    }

    #footer{
        width: 425px;
        height: 150px;
        bottom: -958.5%;
    }

    #footer>section>img{
        width: 50px;
        left: 10%;
        top: 23%;
    }

    #wp1,#fb1,#git1,#linkedin1,#insta1{
        width: 25px;
        aspect-ratio: 1/1;
    }

    #footer>section>h3{
        left: 4%;
        top: 48%;
        font-size: 12px;
    }

    #footer>section>h4{
        left: 25%;
        top: -18.5%;
        font-size: 15px;
    }

    #footer>section>div{
        left: 63%;
        top: 32%;
    }

    #footer>section>h6{
        position: absolute;
        right: 13%;
        top: 40%;
        font-size: 10px;
    }
}

@media all and (max-width: 375px) {
    header {
        width: 375px;
        height: 40px;
    }

    header>img{
        width: 45px;
        top: -8%;
    }

    header>nav>ol>li{
        margin-right:6px;
    }

    header>nav>ol>li>a{
        font-size: 9px;
    }

    header>nav{
        right: -1%;
        margin-top: -8px;
    }

    #main{
        width: 375px;
        height: 564px;
    }

    #divPic>img{
        left: 24%;
    }

    #homeDiv{
        left: 14%;
    }

    #homeDiv>h3{
        right: 37%;
    }

    #imgDiv{
        right: 46%;
    }

    #homeDiv>h6{
        left: 25%;
    }
    #btnDiv{
        left: 26.5%;
    }

    #main1{
        width: 375px;
        height: 564px;
    }

    #ABOUT_ME{
        font-size: 28px;
    }

    #imgShadow{
        width: 555px;
        height: 534px;
    }

    #about{
        width: 400px;

        font-size: 17px;
        left: 20%;
        top: 50%;
    }
    #down>button{
        border-radius: 7px;
        left: 12%;
        top: 100%;
        font-size: 13px;
    }

    #main2{
        width: 425px;
        height: 700px;
    }

    #Education{
        font-size: 28px;
    }

    #E1{
        left: 105px;
    }

    #E2{
        left: 105px;
    }

    #E3{
        left: 105px;
    }

    #E4{
        left: 105px;
    }

    #line1{
        width: 40px;
        left: 65px;
    }
    #line2{
        width: 40px;
        left: 65px;
    }

    #line3{
        width: 3px;
        left: 65px;
    }

    #line4{
        width: 40px;
        left: 65px;
    }
    #line5{
        width: 40px;
        left: 65px;
    }

    #main3{
        width: 375px;
        height: 564px;
    }

    #SKILLS{
        font-size: 28px;
    }

    #progress{
        top: 3%;
        left: 72%;
    }

    #main4{
        width: 375px;
        height: 1020px;
    }

    #PROJECTS{
        font-size: 28px;
    }

    #chat{
        width: 200px;
        height: 230px;
        left: 90px;
    }

    #chatImg{
        width: 85px;
        height: 85px;
        left: 150px;
        top: -40px;
    }

    #chat>h3{
        top: 13%;
        left: 18px;
        font-size: 15px;
    }

    #chat>h5{
        width: 135px;
        left: 40px;
        top: 48px;
        font-size: 12px;
    }

    #chat>div>button{
        left: 37%;
    }

    #bookShop{
        width: 200px;
        height: 230px;
        left: 90px;
    }

    #bookShopImg{
        width: 85px;
        height: 85px;
        right: 150px;
        top: -40px;
    }

    #bookShop>h3{
        top: 15%;
        left: 23px;
        font-size: 15px;
    }

    #bookShop>h5{
        width: 135px;
        left: 40px;
        top: 50px;
        font-size: 12px;
    }

    #bookShop>div>button{
        left: 37%;
    }

    #game{
        width: 200px;
        height: 230px;
        left: 90px;
    }

    #gameImg{
        width: 85px;
        height: 85px;
        left: 150px;
        top: -40px;
    }

    #game>h3{
        top: 13%;
        left: 18px;
        font-size: 15px;
    }

    #game>h5{
        width: 135px;
        left: 40px;
        top: 48px;
        font-size: 12px;
    }

    #game>div>button{
        left: 37%;
    }

    #main5{
        width: 375px;
        height: 564px;
    }

    #ASSIGNMENT{
        font-size: 28px;
    }

    #main5>section{
        width: 120px;
    }

    #main5>section>h3{
        font-size: 13px;
    }

    #arrow,#arrow1{
        width: 15px;
    }

    #main5>section>div>a>button{
        width: 100px;
        left: 14%;
        font-size: 11px;
    }
    #ass{
        width:60px ;
        left: 15%;
    }
    #ass1{
        width: 60px ;
        right: 16%;
    }

    #ass>h3{
        font-size: 10px;
    }
    #ass1>h3{
        font-size: 10px;
        width:51px;
    }

    #main6{
        width: 375px;
        height: 970px;
    }

    #GALLERY{
        font-size: 28px;
    }

    #main6>section{
        width: 425px;
        height: 800px;
        top: 21.5%;
        left: 12%;
    }

    #pic1{
        width: 220px;
        height: 125px;
        left: 9%;
        top: 40px;
    }

    #pic2{
        width: 220px;
        height: 125px;
        left: 9%;
        top: -100px;
    }

    #pic3{
        width: 110px;
        height: 125px;
        left: 9%;
        top: 22.5%;
    }

    #pic4{
        width: 220px;
        height: 125px;
        left: 9%;
        top: 40%;
    }

    #pic5{
        width: 110px;
        height: 125px;
        left: 34.9%;
        top: 22.5%;
    }

    #pic6{
        width: 220px;
        height: 125px;
        left: 9%;
        bottom: 9.5%;
    }

    #pic7{
        width: 220px;
        height: 125px;
        left: 9%;
        bottom: 27%;
    }


    #main7{
        width: 375px;
        height: 580px;
    }

    #CONTACT_ME{
        font-size: 28px;
    }

    #form{
        width: 220px;
        height: 430px;
        left: 21%;
        top: 20%;
    }

    #form>div{
        left:  12%;
    }

    #form>div>label{
        font-size: 18px;
    }

    #Name,#email,#contact,#message{
        width: 160px
    }

    #message{
        height: 130px;
    }

    #form>button{
        font-size: 15px;
        left: 66%;
        top: 88%;
    }

    #footer{
        width: 375px;
        height: 130px;
        bottom: -902.9%;
    }

    #footer>section>img{
        width: 45px;
        left: 11%;
    }

    #wp1,#fb1,#git1,#linkedin1,#insta1{
        width: 20px;
    }

    #footer>section>h4{
        left: 20%;
        top: -22%;
    }

    #footer>section>div{
        left: 65%;
    }

    #footer>section>h6{
        right: 10.9%;
        top: 38%;
        font-size: 9px;
    }
}


@media all and (max-width: 320px) {
    header {
        width: 320px;
    }

    header>img{
        width: 40px;
        top: -1%;
    }

    header>nav>ol>li>a{
        font-size: 7px;
    }

    #main{
        width: 320px;
        height: 564px;
    }

    #divPic>img{
        width: 150px;
        left: 28%;
    }

    #homeDiv{
        left: 14%;
    }

    #homeDiv>h1{
        font-size: 28px;
        top: 75%;
    }

    #HOME{
        font-size: 15px;
        top: 2%;
    }

    #homeDiv>h3{
        font-size: 21px;
        top: 350%;
        right: 40%;
    }

    #wp,#fb,#git,#linkedin,#insta{
        width: 22px;
    }

    #imgDiv{
        width: 127px;
        right: 56%;
        top: 600%;
    }

    #homeDiv>h6{
        position: absolute;
        font-size: 10px;
        left: 21%;
        top: 650%;
    }

    #btnDiv{
        top: 220px;
        left: 21.8%;
    }

    #main1{
        width: 320px;
        height: 564px;
    }

    #ABOUT_ME{
        font-size: 24px;
    }

    #imgShadow{
        width: 490px;
    }

    #myImg{
        width: 170px;
        height: 200px;
    }

    #about{
        width: 250px;
        font-size: 15px;
        left: 22%;
        top: 43%;
    }
    #down>button{
        left: 14%;
        top: 110%;
        font-size: 12px;
    }

    #main2{
        width: 320px;
        height: 850px;
    }

    #Education{
        font-size: 24px;
    }

    #E1{
        width: 160px;
        height: 140px;
        left: 100px;
        top: 665px;
    }

    #E1>h3{
        left: 14%;
    }

    #E1>h4{
        left: 8%;
        top: 16%;
    }

    #institute{
        font-size: 12px;
        top: 45%;
        left: 8%;
    }

    #year{
        font-size: 11px;
        left: 60%;
        top: 71%;
    }

    #E2{
        width: 160px;
        height: 140px;
        left: 100px;
        top: 140px;
    }

    #E2>h3{
        font-size: 15px;
        left: 5%;
        top: -3%;
    }

    #scl{
        font-size: 12px;
        top: 43%;
    }

    #year1{
        left: 60%;
        top: 68%;
    }

    #E3{
        width: 160px;
        height: 140px;
        left: 100px;
        top: 315px;
    }

    #E3>h3{
        font-size: 15px;
        left: 5%;
        top: -3%;
    }

    #scl1{
        font-size: 12px;
        top: 43%;
    }

    #year2{
        left: 60%;
        top: 68%;
    }

    #E4{
        width: 160px;
        height: 140px;
        left: 100px;
        top: 490px
    }

    #E4>h3{
        width: 140px;
        font-size: 12px;
        left: 6%;
        top: 1%;
    }

    #E4>h5{
        font-size: 10px;
        top: 53%;
        left: 9%;
    }

    #line1{
        width: 30px;
        left: 70px;
        top: 24.5%;
    }
    #line2{
        width: 30px;
        left: 70px;
        top: 45%;
    }

    #line3{
        height: 525px;
        top: 24.5%;
        left: 67px;
    }

    #line4{
        width: 30px;
        left: 70px;
        top: 65%;
    }
    #line5{
        width: 30px;
        left: 70px;
        top: 86%;
    }

    #main3{
        width: 320px;
        height: 564px;
    }

    #SKILLS{
        font-size: 24px;
    }

    #app{
        top: 18%;
        left: 8%;
    }

    #progress>li>img{
        width: 130px;
    }


    #main4{
        width: 320px;
        height: 1000px;
    }

    #PROJECTS{
        font-size: 24px;
    }

    #chat,#game{
        width: 180px;
        height: 230px;
        left: 70px;
    }

    #chatImg{
        width: 75px;
        height: 75px;
        left: 130px;
        border-radius: 20px;
    }

    #chat>h3{
        left: 16px;
        font-size: 14px;
    }

    #chat>h5{
        left: 33px;
        font-size: 12px;
    }

    #chat>div>button{
        left: 36%;
    }

    #bookShop{
        width: 180px;
        height: 230px;
        left: 70px;
    }

    #bookShopImg{
        width: 75px;
        height: 75px;
        right: 130px;
        border-radius: 20px;
    }

    #bookShop>h3{
        left: 16px;
        font-size: 14px;
    }

    #bookShop>h5{
        left: 33px;
        font-size: 12px;
    }

    #bookShop>div>button{
        left: 36%;
    }

    #game{
        left: 70px;
    }

    #gameImg{
        width: 75px;
        height: 75px;
        left: 130px;
        border-radius: 20px;
    }

    #game>h3{
        left: 16px;
        font-size: 14px;
    }

    #game>h5{
        left: 33px;
        font-size: 12px;
    }

    #game>div>button{
        left: 36%;
    }

    #main5{
        width: 320px;
        height: 564px;
    }

    #ASSIGNMENT{
        font-size: 24px;
    }

    #main5>section{
        left: 35%;
        width: 98px;
    }

    #main5>section>h3{
        top: 27%;
        font-size: 11px;
    }

    #arrow,#arrow1{
        width: 13px;
    }

    #main5>section>div>a>button{
        width: 100px;
        left: 2%;
        font-size: 10px;
    }
    #ass{
        width:60px ;
        left: 14%;
    }
    #ass1{
        width: 60px ;
        right: 13.5%;
    }

    #ass>h3{
        font-size: 10px;
    }
    #ass1>h3{
        font-size: 10px;
        width:51px;
    }

    #main6{
        width: 320px;
        height: 850px;
    }

    #GALLERY{
        font-size: 24px;
    }

    #main6>section{
        width: 425px;
        height: 800px;
        top: 21.5%;
        left: 12%;
    }

    #pic1,#pic2,#pic4{
        width: 180px;
        height: 100px;
        left: 8%;
        top: 64px;
    }

    #pic2{
        left: 8%;
        top: -50px;
    }

    #pic3,#pic5{
        width: 90px;
        height: 100px;
        left: 8%;
        top: 22.2%;
    }

    #pic4{
        left: 8%;
        top: 36.4%;
    }

    #pic5{
        left: 29%;
        top: 22.2%;
    }

    #pic6{
        width: 180px;
        height: 100px;
        left: 8%;
        bottom: 22.4%;
    }

    #pic7{
        width: 180px;
        height: 100px;
        left: 8%;
        bottom: 36.8%;
    }


    #main7{
        width: 320px;
        height: 564px;
    }

    #CONTACT_ME{
        font-size: 24px;
    }

    #form{
        width: 190px;
        height: 400px;
    }

    #form>div{
        left:  11%;
    }

    #Name,#email,#contact,#message{
        width: 140px
    }

    #message{
        height: 110px;
    }

    #form>button{
        left: 63%;
    }

    #footer{
        width: 320px;
        height: 130px;
        bottom: -901%;
    }

    #footer>section>img{
        left: 13%;
    }

    #footer>section>h4{
        left: 15%;
        top: -22%;
    }

    #footer>section>div{
        left: 61%;
        top: 34%;
    }

    #footer>section>h6{
        right: 11%;
        top: 40%;
    }
}